@import '../../styles/variables.scss';

.featured {
  background-color: $secondary;
  height: 40vh;
  width: calc(100% - 60px);
  box-sizing: border-box;
  padding: 0 10px;
  box-shadow: 0px 0px 20px $dark;

  h2 {
    height: 15%;
    margin: unset;
    padding: 2% 0;
    box-sizing: border-box;
  }

  .itemsContainer {
    height: 85%;
    display: flex;
    gap: 10px;
    width: 100%;
    overflow-x: scroll;
  }
}
