@import '../../styles/variables.scss';

.homePage {
  width: 100%;
  height: calc(100vh - 190px); // -Header -Footer, -Gaps x2
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-content: flex-start;

  @include mobile {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
  }
}
